body {
    background-color: lightblue;
}

h2 {
    color: Blue;
    text-align: left;
}

p {
    font-family: verdana;
    font-size: 20px;
    font-color: Red;
}
#logo {
	height: 100px;
	width: 100px
}